In [ ]:
# Name : Chloe Evelley Thesman
# Student ID Number : 101111044165

In [1]:
# PRE - LECTURE HW

In [33]:
# Question 1

import pandas as pd
url = "https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-05-05/villagers.csv"
df = pd.read_csv(url)
df.isna().sum()

row_n           0
id              1
name            0
gender          0
species         0
birthday        0
personality     0
song           11
phrase          0
full_id         0
url             0
dtype: int64

In [13]:
# Question 2, Part 1

# Load the dataset from the provided URL
url = "https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-05-05/villagers.csv"
villagers_data = pd.read_csv(url)

# Print the number of rows and columns
num_rows, num_columns = villagers_data.shape
print(f"Number of rows: {num_rows}")
print(f"Number of columns: {num_columns}")

# Print the column names
print("Columns in the dataset:")
print(villagers_data.columns.tolist())

Number of rows: 391
Number of columns: 11
Columns in the dataset:
['row_n', 'id', 'name', 'gender', 'species', 'birthday', 'personality', 'song', 'phrase', 'full_id', 'url']

In [14]:
# Question 2, Part 2
# Observations
# Observations, in the world of python, refers to the individual entries or data points found in the dataset. Each observation made usually corresponds to a single case, example, or record.
# In this context, with the Animal Crossing villagers dataset, each observation would represent one specfic villager. Thus, the number of observations is essentially the number of rows in the dataset.

# Variables
# On the other hand, variables are the different attributes or characteristics that is being measured / observed. The number of variables is basically the number of columns present in the dataset.
# For example, in this Animal Crossing villagers dataset,  variables could include traits / features / properties like the villager's name, species, personality type, birthday, etc.

In [22]:
# Question 3

# View the First Few Rows
print(villagers_data.head())

   row_n       id     name  gender    species birthday personality  \
0      2  admiral  Admiral    male       bird     1-27      cranky
1      3  agent-s  Agent S  female   squirrel      7-2       peppy
2      4    agnes    Agnes  female        pig     4-21        uchi
3      6       al       Al    male    gorilla    10-18        lazy
4      7  alfonso  Alfonso    male  alligator      6-9        lazy

          song    phrase           full_id  \
0   Steep Hill   aye aye  villager-admiral
1      DJ K.K.  sidekick  villager-agent-s
2   K.K. House   snuffle    villager-agnes
3   Steep Hill   Ayyeeee       villager-al
4  Forest Life  it'sa me  villager-alfonso

                                                 url
0  https://villagerdb.com/images/villagers/thumb/...
1  https://villagerdb.com/images/villagers/thumb/...
2  https://villagerdb.com/images/villagers/thumb/...
3  https://villagerdb.com/images/villagers/thumb/...
4  https://villagerdb.com/images/villagers/thumb/...

In [23]:
# Question 3

# Get the Basic Summary
print(villagers_data.describe())

            row_n
count  391.000000
mean   239.902813
std    140.702672
min      2.000000
25%    117.500000
50%    240.000000
75%    363.500000
max    483.000000

In [24]:
# Question 3

# Summarize Non-Numeric Columns
print(villagers_data.describe(include=['object']))

             id     name gender species birthday personality          song  \
count       390      391    391     391      391         391           380
unique      390      391      2      35      361           8            92
top     admiral  Admiral   male     cat     1-27        lazy  K.K. Country
freq          1        1    204      23        2          60            10

         phrase           full_id  \
count       391               391
unique      388               391
top     wee one  villager-admiral
freq          2                 1

                                                      url
count                                                 391
unique                                                391
top     https://villagerdb.com/images/villagers/thumb/...
freq                                                    1

In [25]:
# Question 3

# Check for Missing Data
print(villagers_data.isnull().sum())

row_n           0
id              1
name            0
gender          0
species         0
birthday        0
personality     0
song           11
phrase          0
full_id         0
url             0
dtype: int64

In [24]:
# Question 3

# Get Data Types and Structure
print(villagers_data.info())

Statistical Summary of Numerical Columns:
            row_n
count  391.000000
mean   239.902813
std    140.702672
min      2.000000
25%    117.500000
50%    240.000000
75%    363.500000
max    483.000000

Frequency of Each Species:
species
cat          23
rabbit       20
frog         18
squirrel     18
duck         17
dog          16
cub          16
pig          15
bear         15
mouse        15
horse        15
bird         13
penguin      13
sheep        13
elephant     11
wolf         11
ostrich      10
deer         10
eagle         9
gorilla       9
chicken       9
koala         9
goat          8
hamster       8
kangaroo      8
monkey        8
anteater      7
hippo         7
tiger         7
alligator     7
lion          7
bull          6
rhino         6
cow           4
octopus       3
Name: count, dtype: int64

Frequency of Each Personality Type:
personality
lazy      60
normal    59
cranky    55
snooty    55
jock      55
peppy     49
smug      34
uchi      24
Name: count, dtype: int64

In [38]:
# Question 4

import pandas as pd

# Load the Titanic dataset
url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv"
df = pd.read_csv(url)

# Get the shape of the dataset
print("Shape of the dataset (rows, columns):", df.shape)

Shape of the dataset (rows, columns): (891, 15)

In [39]:
# Question 4

# Default describe (numeric columns only)
print("Summary of numeric columns:")
print(df.describe())

Summary of numeric columns:
         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [41]:
# Question 4

# Include all columns in describe
print("Summary of all columns (numeric and non-numeric):")
print(df.describe(include='all'))

Summary of all columns (numeric and non-numeric):
          survived      pclass   sex         age       sibsp       parch  \
count   891.000000  891.000000   891  714.000000  891.000000  891.000000
unique         NaN         NaN     2         NaN         NaN         NaN
top            NaN         NaN  male         NaN         NaN         NaN
freq           NaN         NaN   577         NaN         NaN         NaN
mean      0.383838    2.308642   NaN   29.699118    0.523008    0.381594
std       0.486592    0.836071   NaN   14.526497    1.102743    0.806057
min       0.000000    1.000000   NaN    0.420000    0.000000    0.000000
25%       0.000000    2.000000   NaN   20.125000    0.000000    0.000000
50%       0.000000    3.000000   NaN   28.000000    0.000000    0.000000
75%       1.000000    3.000000   NaN   38.000000    1.000000    0.000000
max       1.000000    3.000000   NaN   80.000000    8.000000    6.000000

              fare embarked  class  who adult_male deck  embark_town alive  \
count   891.000000      889    891  891        891  203          889   891
unique         NaN        3      3    3          2    7            3     2
top            NaN        S  Third  man       True    C  Southampton    no
freq           NaN      644    491  537        537   59          644   549
mean     32.204208      NaN    NaN  NaN        NaN  NaN          NaN   NaN
std      49.693429      NaN    NaN  NaN        NaN  NaN          NaN   NaN
min       0.000000      NaN    NaN  NaN        NaN  NaN          NaN   NaN
25%       7.910400      NaN    NaN  NaN        NaN  NaN          NaN   NaN
50%      14.454200      NaN    NaN  NaN        NaN  NaN          NaN   NaN
75%      31.000000      NaN    NaN  NaN        NaN  NaN          NaN   NaN
max     512.329200      NaN    NaN  NaN        NaN  NaN          NaN   NaN

       alone
count    891
unique     2
top     True
freq     537
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN

In [40]:
# Question 4

# Check for missing values
print("Missing values in each column:")
print(df.isnull().sum())

Missing values in each column:
survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [42]:
# Question 4 (Explanation)

# Part A (Number of Columns Analyzed)
    # df.shape gives you the total number of rows and columns in the dataset as it doesn’t filter between types of data (numeric, categorical, etc.).
    # df.describe() only summarizes numeric columns (e.g. age, fare, etc.), so it may analyze fewer columns than what df.shape reports since it doesn't include categorical columns (e.g. sex, embarked)
    
# Part B (Values Reported in the "Count" Column)
    # The "count" column in df.describe() tells the number of non-missing (non-null) values in each column. It shows how many valid entries there are for each variable. If some rows do have missing values (e.g., NaN), those are excluded from the count.
    # However, df.shape shows the total number of rows, regardless it containing missing data or not.

In [25]:
# Question 5
    # Attributes (Provides stored information)
        # Attributes represent stored data of the characteristics or properties of an object
        # Accessed without parentheses (e.g., df.shape)
        # Simply return information without performing any action or computation
        
    # Methods (Performs actions on the data)
        # Methods present functions that perform specific actions, operations or calculations on an object
        # Called with parentheses (e.g., df.describe())
        # Execute a process or computation when invoked, potentially modifying or returning new information

In [ ]:
# Summary of Interactions

# Dataset Overview (Animal Crossing Villagers):
    # You provided a dataset URL related to Animal Crossing villagers and wanted to know the number of rows and columns, along with the column names.
    # I helped you with Python code to load the dataset using pandas, check its shape, and view the columns.

# Basic Summarization in Python:
    # I provided Python snippets to summarize the dataset, including viewing basic descriptive statistics (df.describe()), checking for missing values, and displaying column names and unique values.
    # We discussed the simplest summarization techniques, such as using .head(), .describe(), and .info().

# Explanation of Dataset Size and df.describe() Discrepancies (Titanic Dataset):
    # You wanted to understand the difference between the dataset size (using df.shape) and the values reported by df.describe().
    # I explained the discrepancies:
        # df.shape shows the total rows and columns.
        # df.describe() analyzes only numeric columns by default (fewer columns) and reports the count of non-missing values (which can be less than the total row count).
    # I provided code examples to analyze these discrepancies, including checking for missing values using df.isnull().sum().

# Difference Between Attributes and Methods:
    # We discussed the difference between Python attributes (e.g., df.shape) and methods (e.g., df.describe()):
    # Attributes are properties of an object and don’t require parentheses.
    # Methods are functions that perform actions and require parentheses.
    # I provided a summarized distinction between attributes and methods, along with examples.
    
# Link: https://chatgpt.com/share/c90b9edf-bc44-4825-b018-84afc281416b

In [ ]:
# POST - LECTURE HW

In [26]:
# Question 6

    # Count: The total number of non-null values or enteries in each column, excluding any missing values
    # Mean: The average of the values in the column
    # Std (Standard Deviation): A measure of the amount of variation or dispersion in the column (tells you how spread out the values are around the mean)
    # Min: The minimum value in the column or the smallest value among the non-null entries
    # 25% (First Quartile or Q1): The first quartile, the value below which 25% of the data falls
    # 50% (Median or Second Quartile or Q2): The middle value of the column, with 50% of the values being below this point and 50% being above it
    # 75% (Third Quartile or Q3): The third quartile, the value below which 75% of the data falls
    # Max: The maximum value in the column or the largest value among the non-null entries

In [43]:
# Question 7 (Number 1, 2, 3)

# Number 1
    # If it is need to make sure every row has all the important information, like for a detailed analysis where missing data could affect the quality or completeness of the results, using df.dropna() will remove rows with any missing values.
    # Using df.dropna() ensures that each row of data has all the required information, making the analysis more reliable.
    
# Number 2
    # If there is a column with lots of missing values and it’s not important for the analysis, using del df['col'] will help remove that column entirely.
    # Removing a column with del df['col'] can simplify datasets and avoid potential issues arising from missing values in less important features.
    
# Number 3
    # If there are columns with a very high proportion of missing data, removing those columns first with del df['col'] can reduce the dataset’s complexity.
    # After removing those of less importance, then using df.dropna() can help to focus on rows with missing values in the remaining, more crucial columns. 
    # This ensures that we are only addressing missing values in columns that matter for the analysis and not wasting time or resources on columns that were going to be discarded anyway.

In [45]:
# Load dataset
url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv"
df = pd.read_csv(url)

# Check column names
print(df.columns)

Index(['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare',
       'embarked', 'class', 'who', 'adult_male', 'deck', 'embark_town',
       'alive', 'alone'],
      dtype='object')

In [50]:
# Question 7 (Number 4)

import pandas as pd

# Load dataset
url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv"
df = pd.read_csv(url)

# Before cleaning
before_cleaning = df.info()

# Remove columns with excessive missing values
cols_to_drop = ['age', 'deck']
df.drop(columns=cols_to_drop, inplace=True)

# Drop rows with any remaining missing values
df.dropna(inplace=True)

# After cleaning
after_cleaning = df.info()

# Results
    # Before Cleaning: The dataset might have many columns with missing data.
    # After Cleaning: The dataset is simplified with fewer columns and all remaining rows have complete data in the important columns, reducing the dataset's complexity.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    object
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    object
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), float64(2), int64(4), object(7)
memory usage: 92.4+ KB
<class 'pandas.core.frame.DataFrame'>
Index: 889 entries, 0 to 890
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     889 non-null    int64
 1   pclass       889 non-null    int64
 2   sex          889 non-null    object
 3   sibsp        889 non-null    int64
 4   parch        889 non-null    int64
 5   fare         889 non-null    float64
 6   embarked     889 non-null    object
 7   class        889 non-null    object
 8   who          889 non-null    object
 9   adult_male   889 non-null    bool
 10  embark_town  889 non-null    object
 11  alive        889 non-null    object
 12  alone        889 non-null    bool
dtypes: bool(2), float64(1), int64(4), object(6)
memory usage: 85.1+ KB

In [52]:
# Summary of Interactions
# 1. Missing Data Handling:
    # Definitions of Summary Statistics (from df.describe()):
        # Count: Number of non-null entries.
        # Mean: Average value.
        # Std: Measure of value spread around the mean.
        # Min: Lowest value.
        # 25%: Value below which 25% of data falls (first quartile).
        # 50%: Middle value (median).
        # 75%: Value below which 75% of data falls (third quartile).
        # Max: Highest value.
    # Use Cases for Handling Missing Data:
        # Using df.dropna(): Preferable when you need to ensure every row in your analysis has all important information. It removes rows with missing values.
        # Using del df['col']: Preferable when a column has a lot of missing values and is not crucial for your analysis. It removes that column entirely.
        # Combining del df['col'] and df.dropna(): First removing columns with excessive missing data using del df['col'] simplifies the dataset. Then using df.dropna() to remove rows with missing values in the remaining columns ensures a cleaner dataset.

# 2. Practical Application:
    # Problem Encountered: An attempt to drop columns from the Titanic dataset resulted in a KeyError, indicating some columns did not exist.
    # Solution: Check the actual column names in the DataFrame, update the columns to drop based on the existing names, and then proceed with dropping the rows with any remaining missing values.
    # Steps to Fix the Error:
        # Load the dataset and print column names.
        # Update the list of columns to drop to match the actual column names.
        # Drop the columns that exist and then use df.dropna() to clean up the rows.
        
# Link: https://chatgpt.com/share/6dcc90aa-bab7-459c-b74a-d5765eb4a0eb

In [56]:
# Question 8, Number 1
    # df.groupby("col1")["col2"].describe() will give a detailed statistical summary of "col2" for each group defined by unique values in "col1"
    # Example:
import pandas as pd

# Load the dataset
url = 'https://raw.githubusercontent.com/mwaskom/seaborn-data/master/penguins.csv'
df = pd.read_csv(url)

# Display the first few rows of the dataset
print(df.head())

# Group by 'species' and describe the 'flipper_length_mm'
summary_stats = df.groupby('species')['flipper_length_mm'].describe()
print(summary_stats)

    # Explanation:
        # df.groupby('species'): Groups the dataset based on each unique species in the species column (e.g., Adelie, Chinstrap, and Gentoo).
        # ['flipper_length_mm']: Selects the flipper_length_mm column from each group
        # .describe(): Provides summary statistics for flipper_length_mm within each species group

  species     island  bill_length_mm  bill_depth_mm  flipper_length_mm  \
0  Adelie  Torgersen            39.1           18.7              181.0
1  Adelie  Torgersen            39.5           17.4              186.0
2  Adelie  Torgersen            40.3           18.0              195.0
3  Adelie  Torgersen             NaN            NaN                NaN
4  Adelie  Torgersen            36.7           19.3              193.0

   body_mass_g     sex
0       3750.0    MALE
1       3800.0  FEMALE
2       3250.0  FEMALE
3          NaN     NaN
4       3450.0  FEMALE
           count        mean       std    min    25%    50%    75%    max
species
Adelie     151.0  189.953642  6.539457  172.0  186.0  190.0  195.0  210.0
Chinstrap   68.0  195.823529  7.131894  178.0  191.0  196.0  201.0  212.0
Gentoo     123.0  217.186992  6.484976  203.0  212.0  216.0  221.0  231.0

In [57]:
# Question 8, Number 2
    # The counts differ because df.describe() is aggregate across the entire dataset, and df.groupby("col1")["col2"].describe() is specific to each group.
    # df.describe() provides more of an overall count of non-missing values for each column
    # df.groupby("col1")["col2"].describe(), on the other hand, provides group-specific counts of non-missing values for "col2" based on unique values in "col1".

In [ ]:
# Question 8, Number 3
    # Personally, I find it much easier to easier to work in a ChatBot session to fix the errors rather than using google to search for and fix errors.
    # This is because, ChatGPT or ChatBots in general directly are able to provide me with the solution to my problem rather than having to look up each and every one of the sources provided in Google to find which can help me the most.
    # Other than that, ChatBots take much faster and give me the correct answers to the issues and problems I have been having whereas searchin in Google takes me much longer having to look at each and every website to find me the solution to my problem.
    # Lastly, ChatBots also provide with the new codes to fix my issue whereas sometimes in the searches I have done on Google, it takes me a while to find one with the codes to fix my issue.

In [59]:
# Summary of Interactions

# Initial Inquiry:
    # You sought help understanding the df.groupby("col1")["col2"].describe() code in pandas and requested a demonstration using a dataset.

# Explanation Provided:
    # df.groupby("col1")["col2"].describe() groups the DataFrame by "col1", selects "col2", and computes summary statistics for "col2" within each group.
    # Example Provided: A demonstration using the Titanic dataset to group by "class" and describe "age" was suggested.

# Code Issues Encountered:
    # NameError: You encountered a NameError due to not importing pandas or using incorrect variable names (DF instead of df).
    # HTTPError: An error occurred due to a typo in the URL (.cvs instead of .csv).
    # AttributeError: You faced an AttributeError because group_by should be groupby.
    # KeyError: This occurred because the column name "Sex" did not match the actual column name, which was "sex".
    # SyntaxError: A missing parenthesis in the URL caused a SyntaxError.
    # NameError: Another error due to using column names without quotes.

# Corrections and Recommendations:
    # Ensure that pandas is imported correctly.
    # Use the correct file extension (.csv).
    # Use the method groupby instead of group_by.
    # Column names should be enclosed in quotes when used in code.
    # Verify the exact column names using df.columns.

# Final Code Example:
    # Provided correct code to load the Titanic dataset, check column names, and use groupby with correct column names:
import pandas as pd

    # Load the dataset
url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv"
df = pd.read_csv(url)

    # Check available columns to confirm names
print(df.columns)

    # Group by 'sex' and describe 'age'
summary = df.groupby("sex")["age"].describe()
print(summary)

# Link: https://chatgpt.com/share/c7cac91e-e9d8-416c-9ad1-c418a52a89ca

Index(['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare',
       'embarked', 'class', 'who', 'adult_male', 'deck', 'embark_town',
       'alive', 'alone'],
      dtype='object')
        count       mean        std   min   25%   50%   75%   max
sex
female  261.0  27.915709  14.110146  0.75  18.0  27.0  37.0  63.0
male    453.0  30.726645  14.678201  0.42  21.0  29.0  39.0  80.0

In [ ]:
# Question 9 
    # Have you reviewed the course wiki-textbook and interacted with a ChatBot (or, if that wasn't sufficient, real people in the course piazza discussion board or TA office hours) to help you understand all the material in the tutorial and lecture that you didn't quite follow when you first saw it?
    # Answer: Somewhat